body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background:  #0c0336;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #235997;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid  #150336;  /* creates padding around scroll thumb */
  }