*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-client{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.purple-container{
    height: 100%;
    width: 23%;
    background-color: #235997;
    position: relative;
}

.info-client{
    height: 100%;
    width: 77%;
    background-color: #DEDEDE;
    display: flex;
    flex-direction: column;
    
}

.headerInfo{
    position: absolute;
    margin-top: -400px;
}

.headerInfo a{
    position: absolute;
    margin-left: 390px;
}

.headerInfo h2{
    margin-right: 50px;
}
.info-client a{
    align-self: flex-end;
    margin-right: 10%;
    margin-top: -5%;
    margin-bottom: 5%;
    padding: 15px 50px;
    border: 2px solid #212121;
    border-radius: 10px;
    cursor: pointer;
}

.info-client a:hover{
    border: 2px solid #235997;
    color: #235997;
}

.info-client h2{
    align-self: flex-start;
    margin-left: 20%;
    margin-top: -5%;
    margin-bottom: 5%;
}

.company-photo{
    width: 300px;
    z-index: 1;
}

.owner-info{
    margin-left: 35%;
    margin-top: 20%;
}

.owner-info p{
    font-weight: bold;
    font-size: 1.3rem;
    color: #fff;
}

.owner-info .owner-name{
    font-size: 13px;
    font-weight: 300;
    margin-top: -80px;
    color: #fff;
    margin-top: 5px;
}

.header-client{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header-client p{
    color: #fff;
    font-size: 2rem;
    margin-left: -70px;
    margin-top: 30px;
}

#aNav{
    display: none;
}

.logo{
    width: 140px;
}

.info-client{
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.personal-info{
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.line{
    width: 350px;
    height: 2px;
    border-bottom: 1px solid #212121;
    margin: 0px auto;
}

.personal-info img{
    width: 35px;
    margin-right: 30px;
}

.personal-info .img-desc{
    height: 35px !important;
}

.personal-info .info-desc{
    width: 280px;
}



.personal-info p{
    font-size: 12px;
    color: #6D6D6D;
}

.info-client .edit{
    margin-top: 5%;
    margin-bottom: -8%;
    margin-left: 17%;
    align-self: flex-start;
}

.edit img{
    width: 25px;
}

.edit a{
    border: none;
    margin-top: 10px;
    margin-left: -50px;
    cursor: pointer;
}

.edit a:hover{
    text-decoration: underline;
    border: none;
}

.all-info2{
    display: none;
}

@media screen and (max-width: 1400px){
    .all-info{
        margin-right: -180px;
    }
    .personal-info{
        width: 320px;
    }
    .company-photo{
        width: 300px;
    }
    .line{
        width: 350px;
    }
}
@media screen and (max-width: 1150px){
    .infoContainer{
        display: none;
    }
    .all-info2{
        display: initial;
        width: 85%;
        background-color: #dedede;
        align-items: center;
        z-index:-100000;
    }
    .infoAccordion{
        width: 95%;
    }   
    
   
}

@media screen and (max-width: 950px){
    .container-client{
        flex-direction: column;
    }
    .purple-container{
        width: 100%;
        height: 23%;
        background-color: #235997;
        position: relative;
    }
    .infoAccordion{
        margin-top: 150px;
        margin-left: -18%;
    }  
    .info-client{
        width: 100%;
    }
    .info-client #h2{
      display: none;
    }
    .headerInfo a{
        margin-left: 230px;
        margin-top: -130px;
    }
    .company-photo{
        width: 205px;
    }
    .owner-info p,.owner-info .owner-name{
        color: black;
    }
    .owner-info{
        position: absolute;
        top: 0;
        margin-top: 30px;
        right: 0;
        margin-right: 330px;
        
    }

    .header-client{
        margin-left: -480px;
        
    }
    .header-client p{
        margin-left: -580px;
    }
    .header-client img{
        margin-left: -100px;
    }
}

@media screen and (max-width: 750px){
    .company-photo{
        width: 180px;
    }
    #a{
        display: none;
    }
    #aNav{
        display: initial;
        border: none;
        
        color: white;
    }
}

@media screen and (max-width: 650px){
    #aNav{
        margin-left: 100px;
        
    }
    .owner-info{
        left: 20px;
        top: 50px;
        width: 100px;
    }
    .company-photo{
        width: 130px;
    }
    .header-client img{
        margin-left: 100px;
    }
    .header-client p{
        display: none;
    }
}

